@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black-with-opacity: hsla(0, 0%, 0%, 0.75);
}

html {
  font-family: "Kumbh Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

body {
  background-color: rgba(128, 128, 128, 0.239);
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow-x: hidden;
}

.product-container {
  max-width: 90vw;
  min-height: 100vh;
  padding: 0 5px;
  margin: 7rem auto 0 auto;
}

/* Main */
.main-product {
  display: flex;
  background-color: #fff;
  gap: 55px;
  min-height: 570px;
  align-items: center;
  padding: 0 50px;
  overflow-x:visible
}



/* Image gallery */
.gallery-product {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 30px;
}

.gallery-product .main-img img {
  display: none;
}

.butts{
  font-size: 20px;
  position: inherit;
  font-weight: 300;
  width: 50%;
  border: none;
  background-color: #000;
color: #fff;
  font-family: "Playfair Display", serif;
}

.butts:hover{
  cursor: pointer;
  border: solid 1px var(--orange);
  color: black;
  background-color: transparent;
}


.butts {
  padding: 0.8rem 2rem;
  width: 400px;
  color: #000;
  border: 1px solid #ed6e4a;
  border-radius: 50px;
  font-family: 'Oswald';
  font-size: 1.5rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.butts:hover{
  background: #ed6e4a;
  color: #fff;
  transform: scale(1.05);
}


.gallery-product .main-img img.active {
  display: inline-block;
  /* max-width: 445px; */
  min-height: 400px;
  max-height: 400px;
  width: 100%;
  object-fit:cover;
  height: 100%;
  /* border-radius: 20px; */
  cursor: pointer;
}

.gallery-product .thumb-list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  max-width: 445px;
  width: 100%;
}

.gallery-product .thumb-list div {
  max-width: 100px;
  max-height: 90px;
  margin: 0 2px;
}

.gallery-product .thumb-list img {
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
  object-fit: cover;
  cursor: pointer;
}

.gallery-product .thumb-list img:hover {
  opacity: 50%;
}

.gallery-product .thumb-list .active img {
  opacity: 30%;
}

.gallery-product .thumb-list .active {
  border: 2px solid var(--orange);
  /* border-radius: 13px; */
  margin: 0;
}

/* lightbox */
.lightbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background: var(--black-with-opacity);
  align-items: center;
  justify-content: center;
}

.lightbox.active {
  display: flex;
}

.lightbox.active .gallery-product {
  max-width: 445px;
}

.lightbox .main-img {
  position: relative;
}

.lightbox .icon-prev,
.lightbox .icon-next {
  position: absolute;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
}

.icon-prev:hover,
.icon-next:hover {
  cursor: pointer;
}

/* .icon-prev svg path {
  fill: var(--orange);
} */

.icon-prev {
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-next {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.icon-close svg path {
  fill: var(--white);
}

.icon-close svg path:hover {
  cursor: pointer;
  fill: var(--orange);
}

.icon-close {
  position: absolute;
  right: 0;
  top: -40px;
}

/* Content */

.product-content {
  flex: 1;
}
.product-content h3 {
  font-size: 16px;
  color: var(--orange);
}

.product-content h2 {
  font-family: "Cruell", sans-serif;
  font-size: 47px;
  margin: 20px 0 40px 0;
}

.product-content p {
  font-family: "Calibri", sans-serif;
  color: #000000af;
line-height: 1.3;

  font-size: 1.2rem;
  margin-bottom: 30px;
  font-weight: 300;

}
.price {
  font-family: "Cruell", sans-serif;

  display: flex;
  align-items: center;
  gap: 15px;
}

.current-price {
  font-weight: 700;
  font-size: 32px;
}

.product-content ul li  {
      padding-left: 5px;
  color: #000000af;
line-height: 1.8;
    position: relative;
    text-align: left;
    font-size: 1.2rem;
    font-family: "Calibri", sans-serif;

}

.discount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  border-radius: 10%;
  height: 25px;
  background-color: var(--pale-orange);
  font-weight: 700;
  color: var(--orange);
}

.prev-price {
  margin: 10px 0 35px 0;
  font-size: 18px;
  color: var(--grayish-blue);
  font-weight: 700;
  text-decoration: line-through;
}

.add-to-cart-container {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  width: 150px;
  height: 55px;
  background: var(--light-grayish-blue);
}

.counter button {
  width: 50px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}

.counter .count {
  font-weight: 700;
}

.add-to-cart {
  color: var(--white);
  background-color: #000;
  border: 0px;
  height: 55px;
  width: 100%;
  border-radius: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  padding: 0 5px;
}

.add-to-cart svg path {
  fill: var(--white);
}

/* Mobile */

@media (max-width: 755px) {
  .gallery-product{
    width: 100%;
  }

  body{
    background-color: #fff;
  }
  /* main */

  .main-product {
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }


  .lightbox {

    display: flex;
    position: relative;
    height: auto;
    width: auto;
    background: none;
  }

  .main-product .thumb-list {
    /* display: none; */
  }

  .main-product .icon-prev {
    left: 50px;
    height: 45px;
    width: 45px;
  }

  .main-product .icon-next {
    right: 50px;
    height: 45px;
    width: 45px;
  }

  .gallery-product .main-img img.active {
    max-width: none;
    height: 60vh;
    /* width: 100vw; */

    border-radius: 0;
  }

  .product-content {
    padding: 0;
  }



  .product-content h2 {
    font-family: "Cruell", sans-serif;
    margin: 10px 0;
    font-size: 40px;
  }

  .product-container{
    margin: 5rem auto 0 auto;
    width: 100%;
  }

  .price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .prev-price {
    margin: 0;
  }

  .add-to-cart-container {
    flex-direction: column;
  }

  .add-to-cart-container button{
    width: 100%;
  }

  .counter {
    width: 100%;
  }

  .counter button {
    width: 40%;
  }

  .cart-container {
    z-index: 20;
    right: -85px;
    top: 40px;
  }
}